<div class="row">

    <div class="col-sm-4">
        <h1>Create Category</h1>
        <form action="/admin/categories/create" method="POST">
            <div class="form-group">
                <label for="name">
                    <input type="text" name="name" placeholder="Enter Title" class="form-control">
                </label>
            </div>
            <button class="btn btn-primary">Create Category</button>
        </form>
    </div>


    <hr>
</div>
<br>

<div class="row">
    <div class="col-sm-8">
        <h1>Categories</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                </tr>
            </thead>
            <tbody>

                {{#each categories}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>
                        <a href="/admin/categories/edit/{{id}}" class="btn btn-info">Edit</a>
                    </td>
                    <td>
                        <form action="/admin/categories/{{id}}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>